version: "3.9"

volumes:
  mysql_data:
  romm_resources:
  romm_redis_data:

services:
  romm:
    image: rommapp/romm:latest
    container_name: romm
    restart: unless-stopped
    environment:
      - DB_HOST=romm-db
      - DB_NAME=romm
      - DB_USER=romm-user
      - DB_PASSWD=some_secure_password
      - ROMM_AUTH_SECRET_KEY=your_generated_secret
      - SCREENSCRAPER_USER=
      - SCREENSCRAPER_PASSWORD=
      - RETROACHIEVEMENTS_API_KEY=
      - STEAMGRIDDB_API_KEY=
      - HASHEOUS_API_ENABLED=true
    volumes:
      - romm_resources:/romm/resources
      - romm_redis_data:/redis-data
      - /srv/romm/library:/romm/library
      - /srv/romm/assets:/romm/assets
      - /srv/romm/config:/romm/config
    ports:
      - "80:8080"
    depends_on:
      - romm-db

  romm-db:
    image: mariadb:latest
    container_name: romm-db
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD=root_secure_password
      - MARIADB_DATABASE=romm
      - MARIADB_USER=romm-user
      - MARIADB_PASSWORD=some_secure_password
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u$$MARIADB_USER -p$$MARIADB_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5
